{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}"><details class="c1"> 
  <summary>Adrian_Salas</summary> 
<details class="c1"> 
  <summary>Dot1l_Emx1_cre_cortex_development</summary> 
</details>
<details class="c1"> 
  <summary>Dot1l_Emx1_cre_hippocampus_development</summary> 
</details>
</details>
<details class="c1"> 
  <summary>Alejandro Villareal</summary> 
<details class="c1"> 
  <summary>Results (DirectFromMeasuringDevices_Unprocessed)</summary> 
</details>
<details class="c1"> 
  <summary>Projects</summary> 
</details>
<details class="c1"> 
  <summary>Presentations and talks</summary> 
</details>
<details class="c1"> 
  <summary>Week Reports</summary> 
</details>
<details class="c1"> 
  <summary>Plasmid</summary> 
</details>
<details class="c1"> 
  <summary>ApoTome Settings</summary> 
</details>
<details class="c1"> 
  <summary>Franz et al</summary> 
</details>
</details>
<details class="c1"> 
  <summary>backups</summary> 
<details class="c1"> 
  <summary>Sandra Ahrens</summary> 
</details>
<details class="c1"> 
  <summary>System Volume Information</summary> 
</details>
<details class="c1"> 
  <summary>.Trashes</summary> 
</details>
<details class="c1"> 
  <summary>Nicole Hellbach</summary> 
</details>
<details class="c1"> 
  <summary>Recycled</summary> 
</details>
<details class="c1"> 
  <summary>Tanja</summary> 
</details>
<details class="c1"> 
  <summary>Ivo BilderLehre</summary> 
</details>
<details class="c1"> 
  <summary>.fseventsd</summary> 
</details>
<details class="c1"> 
  <summary>.Spotlight-V100</summary> 
</details>
<details class="c1"> 
  <summary>AG Vogel</summary> 
</details>
<details class="c1"> 
  <summary>Marion</summary> 
</details>
<details class="c1"> 
  <summary>ActiveSync</summary> 
</details>
<details class="c1"> 
  <summary>AG Vogel April '11</summary> 
</details>
<details class="c1"> 
  <summary>$RECYCLE.BIN</summary> 
</details>
<details class="c1"> 
  <summary>Stefan Weise</summary> 
</details>
<details class="c1"> 
  <summary>AG Vogel ab Mai2011</summary> 
</details>
<details class="c1"> 
  <summary>Guenter</summary> 
</details>
<details class="c1"> 
  <summary>Kürschner</summary> 
</details>
<details class="c1"> 
  <summary>Christine Hacker 201401</summary> 
</details>
<details class="c1"> 
  <summary>Deborah Roidl Backup</summary> 
</details>
<details class="c1"> 
  <summary>Shalaka Wahane Backup June 2013</summary> 
</details>
<details class="c1"> 
  <summary>Riccardo Vezzali Backup June 2013</summary> 
</details>
<details class="c1"> 
  <summary>Torsten Held Backup June 2013</summary> 
</details>
<details class="c1"> 
  <summary>Group Meetings</summary> 
</details>
<details class="c1"> 
  <summary>BovioPatrick</summary> 
</details>
<details class="c1"> 
  <summary>Riccardo Vezzali backup Feb 2014</summary> 
</details>
<details class="c1"> 
  <summary>Neuer Ordner</summary> 
</details>
<details class="c1"> 
  <summary>Steffi</summary> 
</details>
<details class="c1"> 
  <summary>DOT1LPAPERDRAFT</summary> 
</details>
</details>
<details class="c1"> 
  <summary>camillas single-cell</summary> 
<details class="c1"> 
  <summary>WD Discovery</summary> 
</details>
<details class="c1"> 
  <summary>WD Software Offline Installers</summary> 
</details>
<details class="c1"> 
  <summary>.Spotlight-V100</summary> 
</details>
<details class="c1"> 
  <summary>$RECYCLE.BIN</summary> 
</details>
<details class="c1"> 
  <summary>.fseventsd</summary> 
</details>
<details class="c1"> 
  <summary>System Volume Information</summary> 
</details>
<details class="c1"> 
  <summary>ipek to export</summary> 
</details>
<details class="c1"> 
  <summary>Camila</summary> 
</details>
<details class="c1"> 
  <summary>Ipek</summary> 
</details>
<details class="c1"> 
  <summary>Galaxy-History-npm1.tar</summary> 
</details>
<details class="c1"> 
  <summary>Galaxy-History-npm1-k79me2-diffbind.tar</summary> 
</details>
</details>
<details class="c1"> 
  <summary>Esther DEC2020</summary> 
<details class="c1"> 
  <summary>191203 from desktop</summary> 
</details>
<details class="c1"> 
  <summary>Esther</summary> 
</details>
<details class="c1"> 
  <summary>Esther old</summary> 
</details>
</details>
<details class="c1"> 
  <summary>Henriette Franz Backup 2020</summary> 
<details class="c1"> 
  <summary>Members_HenrietteFranz</summary> 
</details>
<details class="c1"> 
  <summary>Projects_Henriette_Franz</summary> 
</details>
</details>
<details class="c1"> 
  <summary>My Book 1</summary> 
<details class="c1"> 
  <summary>WD Discovery</summary> 
</details>
<details class="c1"> 
  <summary>WD Software Offline Installers</summary> 
</details>
<details class="c1"> 
  <summary>$RECYCLE.BIN</summary> 
</details>
<details class="c1"> 
  <summary>mESC-NPC48h_RELACS_ATAC_RNA-seq</summary> 
</details>
<details class="c1"> 
  <summary>System Volume Information</summary> 
</details>
<details class="c1"> 
  <summary>Bismark_Appiah</summary> 
</details>
<details class="c1"> 
  <summary>Ganeshkumar Arumugam</summary> 
</details>
<details class="c1"> 
  <summary>Vicky</summary> 
</details>
<details class="c1"> 
  <summary>Gray de Cristoforis et al</summary> 
</details>
<details class="c1"> 
  <summary>Adrian_Salas_scRNAseq_DATA</summary> 
</details>
<details class="c1"> 
  <summary>Nina_RNA_Methylation</summary> 
</details>
<details class="c1"> 
  <summary>nina</summary> 
</details>
</details>
<details class="c1"> 
  <summary>Nicole final backup 2015</summary> 
<details class="c1"> 
  <summary>chicken_DOT1L</summary> 
</details>
<details class="c1"> 
  <summary>EM</summary> 
</details>
<details class="c1"> 
  <summary>Labbook</summary> 
</details>
<details class="c1"> 
  <summary>Mikroskopie</summary> 
</details>
<details class="c1"> 
  <summary>Poster</summary> 
</details>
<details class="c1"> 
  <summary>Talk</summary> 
</details>
<details class="c1"> 
  <summary>Thesis</summary> 
</details>
</details>
<details class="c1"> 
  <summary>Stefan-final-backup</summary> 
<details class="c1"> 
  <summary>administration</summary> 
</details>
<details class="c1"> 
  <summary>Bilder-microscope-gruft</summary> 
</details>
<details class="c1"> 
  <summary>Bilder_confocal</summary> 
</details>
<details class="c1"> 
  <summary>BX_SILAC_proteome-PROJECT</summary> 
</details>
<details class="c1"> 
  <summary>calculations Bradford, etc</summary> 
</details>
<details class="c1"> 
  <summary>FoxG1 - interactome</summary> 
</details>
<details class="c1"> 
  <summary>Foxg1-HIP-glur1-christine-project</summary> 
</details>
<details class="c1"> 
  <summary>FoxG1_KO_PI3K_experiments</summary> 
</details>
<details class="c1"> 
  <summary>Integrins</summary> 
</details>
<details class="c1"> 
  <summary>Laborbücher</summary> 
</details>
<details class="c1"> 
  <summary>Nadine-Davide-DROSHA-IP-2017</summary> 
</details>
<details class="c1"> 
  <summary>presentations</summary> 
</details>
<details class="c1"> 
  <summary>Protocols</summary> 
</details>
<details class="c1"> 
  <summary>qRT-PCR</summary> 
</details>
<details class="c1"> 
  <summary>SPECS - Data</summary> 
</details>
<details class="c1"> 
  <summary>Thesis</summary> 
</details>
<details class="c1"> 
  <summary>Western_blots</summary> 
</details>
<details class="c1"> 
  <summary>Übergabe Stefan Weise</summary> 
</details>
</details>
{% endblock %}