<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
<details class="c1"> 
    <summary>WD Discovery</summary> 
  <details class="c1"> 
    <summary>Contents</summary> 
  <details class="c1"> 
    <summary>EULAs</summary> 
  <li class="c1"> 
    cs-CZ
  </li>
  <details class="c1"> 
    <summary>de-DE</summary> 
  </details>
  <details class="c1"> 
    <summary>en-US</summary> 
  </details>
  <details class="c1"> 
    <summary>es-ES</summary> 
  </details>
  <details class="c1"> 
    <summary>fr-FR</summary> 
  </details>
  <details class="c1"> 
    <summary>hu-HU</summary> 
  </details>
  <details class="c1"> 
    <summary>it-IT</summary> 
  </details>
  <details class="c1"> 
    <summary>ja-JP</summary> 
  </details>
  <details class="c1"> 
    <summary>ko-KR</summary> 
  </details>
  <details class="c1"> 
    <summary>nb-NO</summary> 
  </details>
  <details class="c1"> 
    <summary>nl-NL</summary> 
  </details>
  <details class="c1"> 
    <summary>pl-PL</summary> 
  </details>
  <details class="c1"> 
    <summary>pt-BR</summary> 
  </details>
  <details class="c1"> 
    <summary>ru-RU</summary> 
  </details>
  <details class="c1"> 
    <summary>sv-SE</summary> 
  </details>
  <details class="c1"> 
    <summary>tr-TR</summary> 
  </details>
  <details class="c1"> 
    <summary>zh-CN</summary> 
  </details>
  <details class="c1"> 
    <summary>zh-TW</summary> 
  </details>
  </details>
  </details>
  <details class="c1"> 
    <summary>locales</summary> 
  </details>
  <details class="c1"> 
    <summary>Packages</summary> 
  <details class="c1"> 
    <summary>WDDriveUtilities</summary> 
  <details class="c1"> 
    <summary>redist</summary> 
  </details>
  </details>
  </details>
  <details class="c1"> 
    <summary>resources</summary> 
  </details>
  </details>